<h1>Eat Da Burger, Eat it Now!</h1>

<h2>Burgers Available to Eat:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block readydevour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers That Have Been Devoured: </h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
   	<li>
     {{name}}
  	</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>
