body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  background-color: rgb(54, 53, 53);
  color:white;
}

header{
  text-align: center;
}

li {
  font-size: 20px;
  list-style-type: none;
}

.form-group {
  margin-bottom: 5px;
}

button{
  color:orangered;
  font-weight: bold;
}

h1{
  text-align: center;
  color:orange;
  margin: auto 0;
  margin-bottom: 3%;
  margin-top: 2%;
}

#available {
  float: left;
  /* margin-right: 30%; */
  margin-left: 30%;
}

#devoured {
  color: grey;
  float: left;
  margin-left: 30%;
}

#add {
  clear: both;
  margin-left: 30%;
}